@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.Top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    word-spacing: 30px;
}

.LOGO{
    cursor: pointer;
}

.Nav_Links{
    list-style: none;
}
.Nav_Links li{
    display: inline-block;
    padding: 0px 3px;
}

.Nav_Links li a{
    transition: all 0.3s ease 0.07s;
}

.Nav_Links li a:hover{
    color: #18A8D8;
}
